.App {
  background: #f1f1f3;
}

.main-wrapper {
  margin-top: 80px;
  padding: 0px 60px;
}

.main-heading {
  margin: 0px;
  padding: 24px 0px;
  color: #898989;
}

.toggle-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.min-bid-label {
  margin-right: 16px;
  font-weight: 600;
  font-size: 14px;
}

.table-filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}

.sort-wrap {
  margin-right: 32px;
  display: flex;
  align-items: center;
}
